<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">

  {% seo %}

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | relative_url }}">
</head>

<body>
{% include top-bar.html %}
  <header class="site-header" role="banner">
    <div class="wrapper">
      <h1 class="site-title">
        <a href="/">{{ site.title }}</a>
      </h1>
    <p class="site-subtitle">We, the people of India, having solemnly resolved...</p>
    </div>
  </header>

  {% include navbar.html %}
  
  <main class="site-main" id="main-content" role="main">
    <div class="wrapper">

      {% if page.title %}
      <header class="page-header">
        <h1 class="page-title">{{ page.title }}</h1>
        {% if page.subtitle %}
        <p class="page-subtitle">{{ page.subtitle }}</p>
        {% endif %}
      </header>
      {% endif %}

      <article class="page-content">
        {{ content }}
      </article>

    </div>
  </main>

  <footer class="site-footer" role="contentinfo">
    <div class="wrapper">
      <p><b></b><a href="#">The Constitution of India</a></b></p>
<p class="footer-note">
  A tribute to the Constitution of India by <a href="https://www.sunilabraham.in">TSAP</a>
</p>
    </div>
  </footer>

</body>
</html>
